/* ================== @media-query and max-width : 1199px =================== */

@media screen and (max-width:1199px) {

    /* ==================== home ===================== */

    /* =================== navbar ===================== */

    .navbar .container .nav-menu .nav-category .nav-card .card-heading .head {
        font-size: 22px;
    }

    /* ================= log-in-form =================== */

    .navbar .account .log-in-form {
        width: 60%;
    }

    .navbar .account .log-in-form .heading {
        width: 90%;
    }

    .navbar .account .log-in-form .log-in {
        width: 90%;
    }

    .navbar .account .sign-in-register-btn {
        width: 100%;
    }

    .navbar .account .sign-up-form {
        width: 60%;
    }

    .navbar .account .sign-up-form .heading {
        width: 90%;
    }

    .navbar .account .sign-up-form .log-in {
        width: 90%;
    }

    .navbar .account .sign-up-register-btn {
        width: 100%;
    }

    .close {
        left: 70%;
    }

    /* ===================== footer-bottom ======================== */

    .footer-bottom .container .row ul {
        width: 80%;
    }

}

/* ================== @media-query and max-width : 1024px =================== */

@media screen and (max-width: 1024px) {

    /* ================== navbar =================== */

     /* ================= log-in-form =================== */

     .navbar .account .log-in-form {
        width: 60%;
    }

    .navbar .account .log-in-form .heading {
        width: 90%;
    }

    .navbar .account .log-in-form .log-in {
        width: 90%;
    }

    .navbar .account .sign-in-register-btn {
        width: 100%;
    }

    .navbar .account .sign-up-form {
        width: 60%;
    }

    .navbar .account .sign-up-form .heading {
        width: 90%;
    }

    .navbar .account .sign-up-form .log-in {
        width: 90%;
    }

    .navbar .account .sign-up-register-btn {
        width: 100%;
    }

    .close {
        left: 70%;
    }

}

/* ================== @media-query and max-width : 991px =================== */

@media screen and (max-width: 991px) {

    /* =================== navbar ================== */

    .navbar {
        height: 60px;
    }

    .navbar .container .logo a {
        font-size: 24px;
    }

    .navbar .container .nav-menu .nav-category ul {
        width: 40%;
    }

    .navbar .container .nav-menu .nav-category ul li {
        margin-bottom: 0;
    }

    .navbar .container .nav-menu .nav-category .nav-card-layout {
        width: 50%;
    }

    .navbar .container .nav-menu .nav-category .nav-card-layout #tee-card {
        width: 100%;
    }

    .navbar .container .nav-menu .nav-category .nav-card-layout #party-card {
        display: none;
    }

    .navbar .container .nav-menu .nav-category .social-links {
        top: 80%;
        width: 30%;
        height: 15%;
        justify-content: center;

    }

    .navbar .container .nav-menu .nav-category .social-links a {
        margin: 0 20px;
    }

    .navbar .container .user-option {
        width: 10%;
    }

    .navbar .account .log-in-form {
        width: 50%;
    }

    .navbar .account .log-in-form .heading .head {
        font-size: 24px;
    }

    .navbar .account .log-in-form .heading p {
        font-size: 16px;
    }

    .navbar .account .log-in-form .log-in .email label {
        font-size: 16px;
    }

    .navbar .account .log-in-form .log-in .email {
        margin-bottom: 15px;
    }

    .navbar .account .log-in-form .log-in .password label {
        font-size: 16px;
    }

    .navbar .account .log-in-form .log-in .password {
        margin-bottom: 15px;
    }

    .navbar .account .log-in-form .log-in .help-btn .remember label {
        font-size: 14px;
    }

    .navbar .account .log-in-form .log-in .help-btn .forgot-password a {
        font-size: 14px;
    }

    .navbar .account .sign-in-register-btn .sign-in {
        font-size: 18px;
        height: 50px;
    }

    .navbar .account .sign-in-register-btn .sign-up {
        font-size: 18px;
        height: 50px;
    }

    .navbar .account .sign-up-form .heading .head {
        font-size: 24px;
    }

    .navbar .account .sign-up-form {
        width: 50%;
    }

    .navbar .account .sign-up-form .heading p {
        font-size: 16px;
        text-align: center;
    }

    .navbar .account .sign-up-form .sign-up .email label {
        font-size: 16px;
    }

    .navbar .account .sign-up-form .sign-up .email {
        margin-bottom: 15px;
    }

    .navbar .account .sign-up-form .sign-up .password label {
        font-size: 16px;
    }

    .navbar .account .sign-up-form .sign-up .password {
        margin-bottom: 15px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .remember label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .forgot-password a {
        font-size: 14px;
    }

    .navbar .account .sign-up-register-btn .sign-in {
        font-size: 18px;
        height: 50px;
    }

    .navbar .account .sign-up-register-btn .sign-up {
        font-size: 18px;
        height: 50px;
    }

    /* =================== product ===================== */

    .product .container .row {
        justify-content: space-between;
    }

    .product .container .row .product-image {
        width: 40%;
        overflow: hidden;
    }

    .product .container .row .product-image figure img {
        height: 80%;
    }

    .product .container .row .product-info {
        width: 55%;
        padding: 20px 10px;
    }

    /* ================= details =================== */

    .details .container .row {
        justify-content: space-between;
    }

    .details .container .row .text-content {
        padding: 5% 10px;
        justify-content: center;
    }

    .details .container .row .text-content .points {
        height: 60%;
    }

    #point-4 {
        left: 80%;
    }

    /* ====================== footer-top ======================= */

    .footer-top .container .row .logo {
        width: 15%;
    }

    .footer-top .container .row .footer-menu-end .social-menu ul li a {
        font-size: 20px;
    }

    .footer-top .container .row .footer-menu-end .review-data .footer-rating p {
        font-size: 18px;
    }

    .footer-top .container .row .footer-menu-end .review-data p {
        font-size: 16px;
    }

    /* ======================= footer-bottom ======================== */

    .footer-bottom .container .row ul {
        width: 90%;
    }

    .footer-bottom .container .row ul li a {
        font-size: 16px;
    }

    .footer-bottom .container .row p {
        font-size: 16px;
    }

}

/* ================== @media-query and max-width : 767px =================== */

@media screen and (max-width: 767px) {

     /* ================= navbar ================== */

     .navbar .container .logo {
        width: 20%;
        height: 100%;
    }

    .navbar .container .logo a {
        width: 100%;
        height: 100%;
        font-size: 28px;
    }

    .navbar .container .logo a img {
        height: 130% !important;
        width: unset !important;
    }

    .navbar .container .user-option {
        width: 16%;
    }

    .navbar .account .log-in-form {
        width: 60%;
        left: 50%;
        transform: translate(-50%);
    }

    .navbar .account .log-in-form .heading .head {
        font-size: 24px;
    }

    .navbar .account .log-in-form .heading p {
        font-size: 16px;
    }

    .navbar .account .log-in-form .log-in .email label {
        font-size: 16px;
    }

    .navbar .account .log-in-form .log-in .email {
        margin-bottom: 15px;
    }

    .navbar .account .log-in-form .log-in .password label {
        font-size: 16px;
    }

    .navbar .account .log-in-form .log-in .password {
        margin-bottom: 15px;
    }

    .navbar .account .log-in-form .log-in .help-btn .remember label {
        font-size: 14px;
    }

    .navbar .account .log-in-form .log-in .help-btn .forgot-password a {
        font-size: 14px;
    }

    .navbar .account .sign-in-register-btn .sign-in {
        font-size: 16px;
        height: 50px;
    }

    .navbar .account .sign-in-register-btn .sign-up {
        font-size: 16px;
        height: 50px;
    }

    .navbar .account .sign-up-form .heading .head {
        font-size: 24px;
    }

    .navbar .account .sign-up-form {
        width: 60%;

    }

    .navbar .account .sign-up-form .heading p {
        font-size: 16px;
        text-align: center;
    }

    .navbar .account .sign-up-form .sign-up .email label {
        font-size: 16px;
    }

    .navbar .account .sign-up-form .sign-up .email {
        margin-bottom: 15px;
    }

    .navbar .account .sign-up-form .sign-up .password label {
        font-size: 16px;
    }

    .navbar .account .sign-up-form .sign-up .password {
        margin-bottom: 15px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .remember label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .forgot-password a {
        font-size: 14px;
    }

    .navbar .account .sign-up-register-btn .sign-in {
        font-size: 18px;
        height: 50px;
    }

    .navbar .account .sign-up-register-btn .sign-up {
        font-size: 18px;
        height: 50px;
    }

    /* =================== product ==================== */

    .product {
        height: 1200px;
    }

    .product .container .row {
        flex-direction: column;
    }

    .product .container .row .product-image {
        width: 100%;
        height: 40%;
        padding-top: 20px;
    }

    .product .container .row .product-image figure {
        align-items: start;
    }

    .product .container .row .product-image figure img {
        width: 100%;
        height: unset;
    }

    .product .container .row .product-info {
        width: 100%;
        height: 60%;
        align-items: center;
    }

    .product .container .row .product-info h1 {
        text-align: center;
        padding-bottom: 0;
    }

    .product .container .row .product-info p {
        text-align: center;
        padding: 35px 0;
    }

    .product .container .row .product-info .size {
        justify-content: center;
        margin-bottom: 0;
    }

    .product .container .row .product-info .color-option {
        margin-bottom: 0;
        margin-bottom: 40px;
    }

    .product .container .row .product-info .color-option li {
        height: 50px;
    }

    /* ================== details ================== */

    .details .container .row .text-content .heading {
        margin-bottom: 20px;
    }

    .details .container .row .text-content .heading h2 {
        line-height: 1.5;
    }

    .details .container .row .text-content .points h3 {
        color: navy;
        padding-bottom: 30px;
        font-size: 18px;
    }

    #point-4 {
        left: 90%;
    }

    /* ================ alternatives ================= */

    .alternatives {
        height: 550px;
    }

    .alternatives .container .row .heading h2 {
        font-size: 24px;
    }

    .alternatives .swiper .swiper-wrapper {
        height: 90%;
    }

    .alternatives .swiper-slide .card-image {
        height: 70%;
    }

    .alternatives .swiper-slide .card-content {
        height: 30%;
        justify-content: space-between;
    }

    .alternatives .swiper-slide .card-content h3 {
        margin-top: 10px;
    }

    .alternatives .swiper-slide:hover {
        .hover-btn {
            visibility: visible;
            z-index: 15;
            top: 38% !important;
            opacity: 1;
        }
    }

    .alternatives .swiper-slide .btn-cart {
        height: 50px !important;
    }

    .alternatives .swiper-slide .btn-buy {
        height: 50px !important;
    }


    /* ======================= reviews ========================= */

    .reviews {
        height: 800px;
    }

    /* ====================== footer-top ======================= */

    .footer-top {
        height: 550px;
    }

    .footer-top .container .row .footer-menu {
        width: 100%;
        padding-left: 30px;
    }

    .footer-top .container .row .footer-menu .footer-sub-menu .head {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }

    .footer-top .container .row .footer-menu .footer-sub-menu ul {
        align-items: center !important;
    }

    .footer-top .container .row .footer-menu .footer-sub-menu ul li {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-top .container .row .footer-menu .footer-sub-menu ul li a {
        font-size: 14px;
    }

    .footer-top .container .row .footer-menu-end .social-menu ul li a {
        font-size: 18px;
    }

    .footer-top .container .row .footer-menu-end .review-data .footer-rating .rating i {
        font-size: 14px !important;
    }

    .footer-top .container .row .footer-menu-end .review-data .footer-rating p {
        font-size: 16px;
    }

    .footer-top .container .row .footer-menu-end .review-data {
        width: 100% !important;
    }

    .footer-top .container .row .footer-menu-end .review-data p {
        font-size: 14px;
    }

    .review-data {
        width: 100% !important;
    }

    /* ======================= footer-bottom ======================== */

    .footer-bottom {
        height: 150px;
    }

    .footer-bottom .container .row {
        width: 90%;
    }

    .footer-bottom .container .row ul li a {
        font-size: 14px;
    }

    .footer-bottom .container .row p {
        font-size: 16px;
    }

}

/* ================== @media-query and max-width : 575px =================== */

@media screen and (max-width: 575px) {

    /* ================= navbar ====================== */

    .menu {
        width: 20%;
    }

    .navbar .container .logo {
        width: 30%;
    }

    .navbar .container .logo a {
        font-size: 26px;
    }

    .navbar .container .user-option {
        width: 20%;
    }

    .navbar .container .nav-menu .nav-category .nav-card-layout {
        display: none;
    }

    .navbar .container .nav-menu .nav-category ul {
        width: 100% !important;
        height: auto;
    }

    .navbar .account .log-in-form {
        width: 55%;
        left: 50%;
        transform: translate(-50%);
        max-height: 400px;
        padding: 10px 0;
    }

    .navbar .account .log-in-form .heading {
        height: 10%;
        margin-bottom: 5px;
    }

    .navbar .account .log-in-form .heading .close i {
        font-size: 14px;
    }

    .navbar .account .log-in-form .heading .head {
        font-size: 20px;
        margin-bottom: 0px;
        height: 20%;
    }

    .navbar .account .log-in-form .heading p {
        font-size: 14px;
    }

    .navbar .account .log-in-form .log-in .email label {
        font-size: 16px;
    }

    .navbar .account .log-in-form .log-in .email input {
        height: 35px;
    }

    .navbar .account .log-in-form .log-in .password input {
        height: 35px;
    }

    .navbar .account .log-in-form .log-in .email {
        margin-bottom: 5px;
        padding-bottom: 10px;
    }

    .navbar .account .log-in-form .log-in .password label {
        font-size: 16px;
    }

    .navbar .account .log-in-form .log-in .password {
        margin-bottom: 5px;
        padding-bottom: 10px;
    }

    .navbar .account .log-in-form .log-in .help-btn {
        flex-direction: column;
    }

    .navbar .account .log-in-form .log-in .help-btn .remember input {
        width: 14px;
        height: 14px;
    }

    .navbar .account .log-in-form .log-in .help-btn .remember label {
        font-size: 14px;
    }

    .navbar .account .log-in-form .log-in .help-btn .remember {
        margin-bottom: 10px;
    }

    .navbar .account .log-in-form .log-in .help-btn .forgot-password a {
        font-size: 14px;
    }

    .navbar .account .sign-in-register-btn {
        width: 85%;
        margin: 15px 0;
    }

    .navbar .account .sign-in-register-btn .sign-in {
        font-size: 14px;
        height: 40px;
        margin-bottom: 10px;
    }

    .navbar .account .sign-in-register-btn .sign-up {
        font-size: 14px;
        height: 40px;
    }

    .navbar .account .sign-up-form {
        width: 55%;
        left: 50%;
        transform: translate(-50%);
        max-height: 400px;
        padding: 10px 0;
    }

    .navbar .account .sign-up-form .heading {
        height: 10%;
        margin-bottom: 5px;
    }

    .navbar .account .sign-up-form .heading .close i {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .heading .head {
        font-size: 18px;
        margin-bottom: 0px;
        height: 20%;
    }

    .navbar .account .sign-up-form .heading p {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .email label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .email input {
        height: 35px;
    }

    .navbar .account .sign-up-form .sign-up .password input {
        height: 35px;
    }

    .navbar .account .sign-up-form .sign-up .email {
        margin-bottom: 5px;
        padding-bottom: 10px;
    }

    .navbar .account .sign-up-form .sign-up .password label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .password {
        margin-bottom: 5px;
        padding-bottom: 10px;
    }

    .navbar .account .sign-up-form .sign-up .f-name label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .f-name input {
        height: 35px;
    }

    .navbar .account .sign-up-form .sign-up .l-name input {
        height: 35px;
    }

    .navbar .account .sign-up-form .sign-up .l-name label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .dob input {
        height: 35px;
    }


    .navbar .account .sign-up-form .sign-up .dob label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .phone input {
        height: 35px;
    }

    .navbar .account .sign-up-form .sign-up .phone label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn {
        flex-direction: column;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .remember input {
        width: 14px;
        height: 14px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .remember label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .remember {
        margin-bottom: 10px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .forgot-password a {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .agree-check label {
        font-size: 12px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .disclaim {
        font-size: 12px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .disclaim a {
        font-size: 12px;
    }

    .navbar .account .sign-up-register-btn {
        width: 85%;
        margin: 15px 0;
    }

    .navbar .account .sign-up-register-btn .sign-up {
        font-size: 14px;
        height: 40px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .navbar .account .sign-up-register-btn .sign-in {
        font-size: 14px;
        height: 40px;
        font-weight: 500;
        letter-spacing: 0.6px;
    }

    /* ================= product =================== */

    .product {
        height: 1200px;
    }

    .product .container .row .product-image {
        padding: 20px;
    }

    .product .container .row .product-image figure {
        width: 100%;
        height: 100%;
    }

    .product .container .row .product-image figure img {
        width: unset;
        height: 100%;
    }

    .product .container .row .product-info {
        margin: 0;
    }

    .product .container .row .product-info h1 {
        font-size: 30px;
    }

    /* ================= fabric =================== */

    .fabric .container .row h2 {
        font-size: 40px;
    }

    /* ================= details ================== */

    .details {
        height: 900px;
    }

    .details .container .row {
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;
    }

    .details .container .row .image-content {
        width: 100%;
        height: 50%;
        padding: 0;
        overflow: hidden;
    }

    .details .container .row .image-content figure img {
        height: unset;
        width: 100%;
    }

    .details .container .row .text-content {
        width: 100%;
        height: 45%;
    }

    .details .container .row .text-content .heading {
        justify-content: center;
    }

    .details .container .row .text-content .points {
        height: 100%;
        align-items: center;
    }

    #point-1 {
        top: 34.5%;
    }

    #point-3 {
        top: 94%;
    }

    #point-4 {
        left: 71%;
        top: 35%;
    }

    /* ================== reviews =================== */
        
    .reviews .container .row .content .swiper {
        height: 45% !important;
    }

    .reviews .container .row .content .write-review {
        width: 100%;
        height: 50%;
        padding: 30px 0;
    }

    .reviews .container .row .content .write-review h3 {
        padding: 0;
    }

    .reviews .container .row .content .write-review p {
        line-height: 1.8;
    }

    .reviews .container .row .content .review-box form {
        height: 55%;
    }

    .reviews .container .row .content .review-box form input {
        width: 90%;
    }

    /* ====================== footer-top ======================= */

    .footer-top .container .row .logo {
        width: 22%;
    }

    .footer-top .container .row .footer-menu {
        padding-left: 20px;
    }

    .footer-top .container .row .footer-menu .footer-sub-menu ul li a {
        font-size: 14px;
    }

    .footer-top .container .row .footer-menu-end {
        width: 45%;
    }

    .footer-top .container .row .footer-menu-end .social-menu ul li a {
        font-size: 16px;
    }

    .footer-top .container .row .footer-menu-end .review-data .footer-rating .rating i {
        font-size: 15px !important;
    }

    .footer-top .container .row .footer-menu-end .review-data .footer-rating p {
        font-size: 15px;
    }

    .footer-top .container .row .footer-menu-end .review-data p {
        font-size: 15px;
    }

    /* ======================= footer-bottom ======================== */

    .footer-bottom {
        height: 150px;
    }

    .footer-bottom .container .row {
        width: 100%;
    }

    .footer-bottom .container .row ul li a {
        font-size: 14px;
    }

    .footer-bottom .container .row p {
        font-size: 14px;
    }
}

/* ================== @media-query and max-width : 480px =================== */

@media screen and (max-width: 480px) {

    /* ================= common styling ================= */

    .container {
        padding: 0px 10px;
    }

    /* ================= nav-top =================== */

    .nav-top {
        width: 100%;
        height: 30px;
    }

    .nav-top .swiper-slide p {
        font-size: 12px !important;
    }

    /* ================= navbar ================== */

    .navbar .container .nav-menu .nav-category ul {
        width: 100%;
    }

    .navbar .container .nav-menu .nav-category .social-links {
        top: 105%;
        left: 50%;
        transform: translate(-50%);
        justify-content: center;
        width: 100%;
    }

    .navbar .container .nav-menu .nav-category .nav-card-layout {
        display: none;
    }

    .navbar .container .nav-menu .nav-category ul li {
        margin-bottom: 0;
        padding: 20px 15px;
        border: none;
        position: relative;
    }

    .navbar .container .nav-menu .nav-category ul li::before {
        content: "";
        display: inline-block;
        width: 30%;
        height: 1px;
        background-color: black;
        position: absolute;
        top: 50%;
        left: 65%;
    }

    .navbar .container .nav-menu .nav-category ul li a {
        letter-spacing: 2px;
    }

    .menu {
        width: 25%;
    }

    .menu-icon {
        font-size: 16px;
    }

    .navbar .container {
        padding: 0px 20px;
    }

    .navbar .container .logo {
        margin-left: 0 !important;
        width: 35%;
    }

    .navbar .container .user-option {
        width: 25%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .container .user-option .search i {
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .navbar .container .user-option .cart i {
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .container .user-option .account i {
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .account .log-in-form {
        width: 75%;
        left: 50%;
        transform: translate(-50%);
        max-height: 400px;
        padding: 10px 0;
    }

    .navbar .account .log-in-form .heading {
        height: 10%;
        margin-bottom: 5px;
        text-decoration: none;
    }

    .navbar .account .log-in-form .heading .close i {
        font-size: 14px;
    }

    .navbar .account .log-in-form .heading .head {
        font-size: 20px;
        margin-bottom: 0px;
        height: 20%;
    }

    .navbar .account .log-in-form .heading p {
        font-size: 14px;
    }

    .navbar .account .log-in-form .log-in .email label {
        font-size: 16px;
    }

    .navbar .account .log-in-form .log-in .email input {
        height: 35px;
    }

    .navbar .account .log-in-form .log-in .password input {
        height: 35px;
    }

    .navbar .account .log-in-form .log-in .email {
        margin-bottom: 5px;
        padding-bottom: 10px;
    }

    .navbar .account .log-in-form .log-in .password label {
        font-size: 16px;
    }

    .navbar .account .log-in-form .log-in .password {
        margin-bottom: 5px;
        padding-bottom: 10px;
    }

    .navbar .account .log-in-form .log-in .help-btn {
        flex-direction: column;
    }

    .navbar .account .log-in-form .log-in .help-btn .remember input {
        width: 14px;
        height: 14px;
    }

    .navbar .account .log-in-form .log-in .help-btn .remember label {
        font-size: 14px;
    }

    .navbar .account .log-in-form .log-in .help-btn .remember {
        margin-bottom: 10px;
    }

    .navbar .account .log-in-form .log-in .help-btn .forgot-password a {
        font-size: 14px;
    }

    .navbar .account .sign-in-register-btn {
        width: 85%;
        margin: 15px 0;
    }

    .navbar .account .sign-in-register-btn .sign-in {
        font-size: 14px;
        height: 40px;
        margin-bottom: 10px;
    }

    .navbar .account .sign-in-register-btn .sign-up {
        font-size: 14px;
        height: 40px;
    }

    .navbar .account .sign-up-form {
        width: 75%;
        left: 50%;
        transform: translate(-50%);
        max-height: 400px;
        padding: 10px 0;
    }

    .navbar .account .sign-up-form .heading {
        height: 10%;
        margin-bottom: 5px;
    }

    .navbar .account .sign-up-form .heading .close i {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .heading .head {
        font-size: 18px;
        margin-bottom: 0px;
        height: 20%;
    }

    .navbar .account .sign-up-form .heading p {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .email label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .email input {
        height: 35px;
    }

    .navbar .account .sign-up-form .sign-up .password input {
        height: 35px;
    }

    .navbar .account .sign-up-form .sign-up .email {
        margin-bottom: 5px;
        padding-bottom: 10px;
    }

    .navbar .account .sign-up-form .sign-up .password label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .password {
        margin-bottom: 5px;
        padding-bottom: 10px;
    }

    .navbar .account .sign-up-form .sign-up .f-name label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .f-name input {
        height: 35px;
    }

    .navbar .account .sign-up-form .sign-up .l-name input {
        height: 35px;
    }

    .navbar .account .sign-up-form .sign-up .l-name label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .dob input {
        height: 35px;
    }


    .navbar .account .sign-up-form .sign-up .dob label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .phone input {
        height: 35px;
    }

    .navbar .account .sign-up-form .sign-up .phone label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn {
        flex-direction: column;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .remember input {
        width: 14px;
        height: 14px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .remember label {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .remember {
        margin-bottom: 10px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .forgot-password a {
        font-size: 14px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .agree-check label {
        font-size: 12px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .disclaim {
        font-size: 12px;
    }

    .navbar .account .sign-up-form .sign-up .help-btn .disclaim a {
        font-size: 12px;
    }

    .navbar .account .sign-up-register-btn {
        width: 85%;
        margin: 15px 0;
    }

    .navbar .account .sign-up-register-btn .sign-up {
        font-size: 14px;
        height: 40px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .navbar .account .sign-up-register-btn .sign-in {
        font-size: 14px;
        height: 40px;
        font-weight: 500;
        letter-spacing: 0.6px;
    }

    /* ================= product =================== */

    .product {
        height: 1200px;
    }

    .product .container .row .product-info h1 {
        font-size: 24px;
    }

    .product .container .row .product-info p {
        font-size: 15px;
    }

    .product .container .row .product-info .color-option {
        flex-wrap: wrap;
        justify-content: center;
    }

    .product .container .row .product-info .color-option li {
        width: 90px !important;
        margin: 5px;
    }

    .product .container .row .product-info .size {
        margin-bottom: 10px;
        padding-bottom: 0;
    }

    .product .container .row .product-info p {
        text-align: center;
        padding: 20px 0;
    }

    /* ================= fabric =================== */

    .fabric .container .row h2 {
        font-size: 30px;
    }

    /* ================= details ================== */

    .details {
        height: 1000px;
    }

    .details .container .row {
        padding: 0;
    }
    
    .details .container .row .image-content figure img {
        width: unset;
        height: 100%;
        padding: 15px;
    }

    .details .container .row .text-content {
        height: 50%;
    }

    .details .container .row .text-content .heading h2 {
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.8;
    }

    .details .container .row .text-content .points {
        height: 100%;
        justify-content: center;
    }
    
    .details .container .row .text-content .points h3 {
        font-size: 16px;
        margin-bottom: 35px !important;
        text-align: center;
        transition: all 1s ease;
    }

    .details .container .row .text-content .points h3:hover {
        border-color: red;
    }

    /* =============== review ================ */

    .reviews {
        height: 800px;
    }

    .reviews .container .row .content .swiper {
        height: 40% !important;
    }

    .reviews .container .row .content .write-review {
        width: 100%;
        height: 50%;
        padding: 30px 0;
    }

    .reviews .container .row .content .write-review h3 {
        padding: 0;
    }

    .reviews .container .row .content .write-review p {
        line-height: 1.8;
    }

    .reviews .container .row .content .review-box form {
        height: 55%;
    }

    .reviews .container .row .content .review-box form input {
        width: 90%;
    }

    /* ====================== footer-top ======================= */

    .footer-top {
        height: 450px;
    }

    .footer-top .container .row .footer-menu {
        padding-left: 10px;
    }

    .footer-top .container .row .footer-menu .footer-sub-menu .head {
        font-size: 14px;
    }

    .footer-top .container .row .footer-menu .footer-sub-menu ul li a {
        font-size: 12px;
    }

    .footer-top .container .row .footer-menu-end .social-menu ul li a {
        font-size: 16px;
    }

    .footer-top .container .row .footer-menu-end .review-data .footer-rating p {
        font-size: 14px;
    }

    .footer-top .container .row .footer-menu-end .review-data p {
        font-size: 14px;
    }

    /* ======================= footer-bottom ======================== */

    .footer-bottom {
        height: 200px;
    }

    .footer-bottom .container .row ul {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer-bottom .container .row ul li {
        text-align: center;
        padding: 5px;
    }

    .footer-bottom .container .row p {
        height: 30%;
        font-size: 14px;
    }

}