/* ======================= FONT LINKS ========================= */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* ======================= common styling ========================= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1240px;
    padding: 0px 20px;
}

section,
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover {
    transform: scale(1.1);
}

i {
    transition: all 0.5s ease;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700px;
    font-weight: 600;
}

button {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    transform: scale(1.1);
}

.card-image {
    cursor: pointer;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating i {
    padding: 5px;
    color: rgb(255, 205, 42);
}

strong {
    display: block !important;
    margin-bottom: 15px;
}

.strong {
    font-weight: 700;
}

/* ========================= home-page-start ============================== */

/* ===================== header ===================== */

header {
    position: relative;
}

/* ======================== nav-top ======================== */

.nav-top {
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    z-index: 100; */
}

.nav-top .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================== nav-top swiper ==================== */

.nav-top .swiper {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
}

.nav-top .swiper .swiper-wrapper {
    width: 100% !important;
}

.nav-top .swiper-slide {
    text-align: center;
    font-size: 14px !important;
    background: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-top .swiper-slide p {
    display: block;
    color: white !important;
    text-align: center !important;
    letter-spacing: 1px !important;
}

.nav-top .swiper-pagination {
    display: none !important;
}


/* ======================= navbar ======================= */

.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* position: absolute;
    top: 40px;
    z-index: 100; */
}

.navbar .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar .container .nav-menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    left: 0%;
    top: 90px;
    display: none;
    cursor: pointer;
    background-color: transparent;
}

.navbar .container .nav-menu .nav-category {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
}

.navbar .container .nav-menu .nav-category ul {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.navbar .container .nav-menu .nav-category ul li {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 0;
    border-bottom: 1px solid black;
}

.navbar .container .nav-menu .nav-category ul li a {
    text-transform: uppercase;
    color: black;
}

.navbar .container .nav-menu .nav-category ul li a:hover {
    color: red;
    font-weight: 700;
}

.navbar .container .nav-menu .nav-category .social-links {
    width: 10%;
    position: absolute;
    top: 90%;
    left: 8.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container .nav-menu .nav-category .social-links a {
    font-size: 18px;
    color: black;
    transition: all 0.2s ease;
}

.navbar .container .nav-menu .nav-category .social-links a:hover {
    color: blue;
}

.navbar .container .nav-menu .nav-category .nav-card-layout {
    height: 60%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 25px 0;
}

.navbar .container .nav-menu .nav-category .nav-card-layout a {
    color: black;
    width: 48%;
    height: 60% !important;
}

.navbar .container .nav-menu .nav-category .nav-card-layout a .nav-card {
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.navbar .container .nav-menu .nav-category .nav-card .card-heading {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.navbar .container .nav-menu .nav-category .nav-card .card-heading .head {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar .container .nav-menu .nav-category .nav-card .card-image {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.navbar .container .nav-menu .nav-category .nav-card .card-image .tee-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container .nav-menu .nav-category .nav-card .card-image .tee-nav img {
    height: 100%;
    width: 100%;
}

.navbar .container .nav-menu .nav-category .nav-card .card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.navbar .container .nav-menu .nav-category .nav-card .card-content .card-name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.navbar .container .nav-menu .nav-category .nav-card .card-content .desc {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 0px;
}

.navbar .container .nav-menu .nav-category .nav-card .card-content button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin-top: 5px;
    text-transform: capitalize;
    font-weight: 500;
}

.menu {
    width: 10%;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.navbar .container .logo {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navbar .container .logo a {
    width: 100%;
    height: 100%;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: rgb(255, 0, 0);
    /* filter: drop-shadow(0 0 4px #ffffff80); */
    text-shadow: 2px 4px white;
    letter-spacing: 2px;
    font-family: "Josefin Sans", sans-serif;
}

.navbar .container .logo a img {
    height: 180%;
}

.navbar .container .user-option {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .container .user-option .search {
    height: 100%;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar .container .user-option .search .search-bar {
    width: 80%;
    height: 50%;
    background-color: transparent;
    position: absolute;
    border: none;
    border-radius: 25px;
    top: 100%;
    left: 10%;
    display: none;
    z-index: 500;
    margin-top: 5px;
}

.navbar .container .user-option .search form input {
    width: 100%;
    height: 80%;
    border: none;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.navbar .container .user-option .search form input[type=text] {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    width: 80%;
    border-radius: 25px;
}

.navbar .container .user-option .search form input::placeholder {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    color: black;
    opacity: 0.7;
}

.navbar .container .user-option .cart a {
    font-size: 20px;
    color: black;
    transition: all 0.1s ease;
}

.navbar .container .user-option .cart a:hover {
    font-size: 24px;
    color: red;
}

.navbar .container .user-option .account a {
    font-size: 20px;
    color: black;
    transition: all 0.1s ease;
}


.navbar .container .user-option .account a:hover {
    font-size: 24px;
    color: red;
}

/* ================= log-in-form ================= */

.navbar .account .log-in-form {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 25%;
    background: linear-gradient(rgb(255, 255, 255), rgb(216, 216, 216));
    padding: 40px 0;
    display: none;
    max-height: 520px;
    overflow-y: scroll;
    border: 1px solid black;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.navbar .account .log-in-form .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: scroll;

}

.navbar .account .log-in-form .heading {
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 0;
    position: relative;
}

.navbar .account .log-in-form .heading .close {
    position: absolute;
    left: 100%;
    top: -15%;
}

.navbar .account .log-in-form .heading .head {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
}

.navbar .account .log-in-form .heading p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.navbar .account .log-in-form .log-in {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.navbar .account .log-in-form .log-in .email {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .log-in-form .log-in .email label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .log-in-form .log-in .email input {
    width: 100%;
    height: 50px;
}

.navbar .account .log-in-form .log-in .password {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .log-in-form .log-in .password label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .log-in-form .log-in .password input {
    width: 100%;
    height: 50px;
}

.navbar .account .log-in-form .log-in .help-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .account .log-in-form .log-in .help-btn .remember {
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar .account .log-in-form .log-in .help-btn .remember input {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.navbar .account .log-in-form .log-in .help-btn .remember label {
    font-size: 16px;
}

.navbar .account .log-in-form .log-in .help-btn .forgot-password a {
    font-size: 16px;
    text-decoration: underline;
}

.navbar .account .sign-in-register-btn {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.navbar .account .sign-in-register-btn .sign-in {
    background-color: black;
    color: white;
    font-weight: 700;
    width: 78%;
    height: 60px;
    margin-bottom: 20px;
    font-size: 20px;
    border: none;
}

.navbar .account .sign-in-register-btn .sign-up {
    background-color: white;
    width: 78%;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid black;
}

.navbar .account .member-head {
    font-size: 14px !important;
}

.navbar .account .sign-up-form {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column !important;
    justify-content: start !important;
    align-items: center !important;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 25%;
    background: linear-gradient(rgb(255, 255, 255), rgb(216, 216, 216));
    padding: 40px 0;
    display: none;
    max-height: 520px;
    overflow-y: scroll;
    border: 1px solid black;
}

.navbar .account .sign-up-form .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: scroll;
}

.navbar .account .sign-up-form .heading {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 0;
    position: relative;
}

.navbar .account .sign-up-form .heading .close {
    position: absolute;
    left: 100%;
    top: -15%;
}

.navbar .account .sign-up-form .heading .head {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
}

.navbar .account .sign-up-form .heading p {
    font-size: 18px;
    line-height: 1.5;
}

.navbar .account .sign-up-form .sign-up {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.navbar .account .sign-up-form .sign-up .email {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .sign-up-form .sign-up .email label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .sign-up-form .sign-up .email input {
    width: 100%;
    height: 50px;
}

.navbar .account .sign-up-form .sign-up .password {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .sign-up-form .sign-up .password label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .sign-up-form .sign-up .password input {
    width: 100%;
    height: 50px;
}

.navbar .account .sign-up-form .sign-up .f-name {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .sign-up-form .sign-up .f-name label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .sign-up-form .sign-up .f-name input {
    width: 100%;
    height: 50px;
}

.navbar .account .sign-up-form .sign-up .dob {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .sign-up-form .sign-up .dob label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .sign-up-form .sign-up .dob input {
    width: 100%;
    height: 50px;
}

.navbar .account .sign-up-form .sign-up .l-name {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .sign-up-form .sign-up .l-name label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .sign-up-form .sign-up .l-name input {
    width: 100%;
    height: 50px;
}

.navbar .account .sign-up-form .sign-up .phone {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .sign-up-form .sign-up .phone label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .sign-up-form .sign-up .phone input {
    width: 100%;
    height: 50px;
}


.navbar .account .sign-up-form .sign-up .help-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar .account .sign-up-form .sign-up .help-btn .agree-check {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.navbar .account .sign-up-form .sign-up .help-btn .agree-check input {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.navbar .account .sign-up-form .sign-up .help-btn .agree-check label {
    font-size: 14px;
}

.navbar .account .sign-up-form .sign-up .help-btn .disclaim {
    font-size: 14px;
    color: gray;
    line-height: 1.5;
}

.navbar .account .sign-up-form .sign-up .help-btn .disclaim a {
    font-size: 14px;
    text-decoration: underline;
}

.navbar .account .sign-up-register-btn {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.navbar .account .sign-up-register-btn .sign-up {
    background-color: black;
    color: white;
    font-weight: 700;
    width: 78%;
    height: 60px;
    margin-bottom: 20px;
    font-size: 20px;
    border: none;
}

.navbar .account .sign-up-register-btn .sign-in {
    background-color: white;
    width: 78%;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid black;
}

.navbar .account a {
    font-size: 20px;
    margin-top: 20px;
    text-decoration: underline;
}

.navbar .account input[type=text] {
    padding: 0 20px;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
}

.navbar .account input[type=email] {
    padding: 0 20px;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
}

.navbar .account input[type=password] {
    padding: 0 20px;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
}

.navbar .account input[type=number] {
    padding: 0 20px;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
}


/* ================ main ================= */

/* ================= product =================== */

.product {
    height: 700px;
}

.product .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .container .row .product-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 40px;
}

.product .container .row .product-image figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .container .row .product-image figure img {
    height: 100%;
}

.product .container .row .product-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 30px;
    margin-top: 40px;
}

.product .container .row .product-info h1 {
    font-size: 36px;
    padding-bottom: 20px;
}

.product .container .row .product-info p {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 20px;
    font-weight: 300;
}

.product .container .row .product-info .color-option {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.product .container .row .product-info .color-option li {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin-right: 5px;
    transition: all 0.5s ease;
    background-color: white;
    color: black;
}

#white:hover {
    background-color: white;

    a {
        color: black;
    }
}

#red:hover {
    background-color: red;

    a {
        color: white;
    }
}

#blue:hover {
    background-color: blue;

    a {
        color: white;
    }
}

#green:hover {
    background-color: green;

    a {
        color: white;
    }
}

.product .container .row .product-info .color-option li:hover {
    background-color: black;

    a {
        color: white;
    }
}

.product .container .row .product-info .color-option li:active {
    background-color: black;

    a {
        color: white;
    }
}

.product .container .row .product-info .color-option li a {
    color: black;
    font-size: 14px;
    transition: all 0.5s ease;
    text-transform: uppercase;
}



.product .container .row .product-info .size {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.product .container .row .product-info .size li {
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    transition: all 0.5s ease;
}

.product .container .row .product-info .size li:hover {
    background-color: black;

    a {
        color: white;
    }
}

.product .container .row .product-info .size li:active {
    background-color: black;

    a {
        color: white;
    }
}

.product .container .row .product-info .size li a {
    color: black;
    font-size: 14px;
    transition: all 0.5s ease;
}

.product .container .row .product-info .price {
    font-size: 24px;
    font-weight: 300;
}

.product .container .row .product-info .cart {
    width: 100%;
    height: 60px;
    background-color: black;
    border: none;
    color: white;
    margin-bottom: 8px;
}

.product .container .row .product-info .buy {
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    border: 2px solid black;
}

.price-off {
    text-decoration: line-through;
    color: red;
    font-weight: 300;
    font-size: 22px;
}

/* ================= fabric ================== */

.fabric {
    height: 600px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(../IMG/pima-cot.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.fabric .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fabric .container .row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fabric .container .row h2 {
    font-size: 60px;
    color: transparent;
    background-image: linear-gradient(rgb(233, 233, 233), rgba(152, 255, 243, 1));
    background-clip: text;
    padding-bottom: 40px;
    font-weight: 400;
}

.fabric .container .row p {
    width: 80%;
    font-size: 18px;
    color: white;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
}

/* ================= details ================== */

.details {
    height: 580px;
}

.details .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details .container .row .image-content {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    padding: 40px;
}

#point-1 {
    position: absolute;
    z-index: 1;
    top: 37.5%;
    left: 50%;
    font-size: 12px;
    color: blue;
    border-radius: 50%;
}

#point-2 {
    position: absolute;
    z-index: 1;
    top: 55%;
    left: 50%;
    font-size: 12px;
    color: blue;
    border-radius: 50%;
}

#point-3 {
    position: absolute;
    z-index: 1;
    top: 87.5%;
    left: 50%;
    font-size: 12px;
    color: blue;
    border-radius: 50%;
}

#point-4 {
    position: absolute;
    z-index: 1;
    top: 37%;
    left: 70%;
    font-size: 12px;
    color: blue;
    border-radius: 50%;
}

.details .container .row .image-content i {
    border: 1px solid white;
}

.details .container .row .image-content figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details .container .row .image-content figure img {
    height: 100%;
    filter: brightness(0.9);
}

.details .container .row .text-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10% 8%;
}

.details .container .row .text-content .heading {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.details .container .row .text-content .heading h2 {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 900;
}

.details .container .row .text-content .points {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 2% 0;
}

.details .container .row .text-content .points h3 {
    cursor: pointer;
    font-size: 20px;
    line-height: 1.8;
    color: black !important;
    border-bottom: 1px solid black;
    padding-bottom: 10px !important;
    margin-bottom: 10px;
}

/* ======================= reviews ========================= */

.reviews {
    width: 100%;
    height: 600px;
    padding-bottom: 10px;
    background-color: transparent;
}

.reviews .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.reviews .container .row .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.reviews .container .row .content .swiper {
    width: 100%;
    height: 60% !important;
}

.reviews .container .row .content .swiper .swiper-wrapper {
    width: 100%;
    height: 90%;
    padding: 10px;
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    padding: auto 0;
    transition: all 0.5s ease;
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide:hover {
    background-color: black;

    .card-content h3 {
        color: white;
    }

    .card-content p {
        color: white;
    }
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide .card-image {
    height: 10%;
    display: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide .card-image figure {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide .card-image figure img {
    height: 100%;
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide .card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15% 0;
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide .card-content h3 {
    font-size: 22px;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide .card-content p {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
    color: black;
}

.reviews .container .row .content .swiper .swiper-pagination-bullet {
    background-color: black;
}

.reviews .container .row .content .write-review {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.reviews .container .row .content .write-review h3 {
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    padding-bottom: 10px;
}

.reviews .container .row .content .write-review p {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    color: black;
}

.reviews .container .row .content .write-review .write-review-btn {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 15px;
    color: black;
    border-radius: 10px;
    letter-spacing: 2px;
    position: relative;
    font-size: 18px;
}

.reviews .container .row .content .write-review .cancel-btn {
    position: absolute;
    top: 95%;
    z-index: 4;
    padding: 14px 60px;
    display: none;
}

.reviews .container .row .content .review-box {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 55%;
    z-index: 1;
    background-color: rgb(225, 225, 225);
    display: none;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgb(101, 101, 101);
}

.reviews .container .row .content .review-box form {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;

}

.reviews .container .row .content .review-box form input {
    width: 60%;
    height: 100%;
    border-radius: 15px;
    border: none;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.reviews .container .row .content .review-box form input::placeholder {
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(0, 0, 0);
}

.reviews .container .row .content .review-box form input[type=text] {
    font-size: 18px;
    padding: 0px 20px;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(0, 0, 0);
}

.reviews .container .row .content .review-box .rating i {
    color: rgb(171, 171, 171);
    cursor: pointer;
}

.reviews .container .row .content .review-box .button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.reviews .container .row .content .review-box button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 7px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================ alternatives ================= */

.alternatives {
    height: 600px;
}

.alternatives .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alternatives .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alternatives .container .row .heading {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alternatives .container .row .heading h2 {
    font-size: 30px;
    text-transform: capitalize;
    color: red;
}

.alternatives .container .row .alternative-card-layout {
    width: 100%;
    height: 80%;
}

/* ============== alternatives-swiper ================= */

.alternatives .swiper {
    width: 100%;
    height: 100%;
}

.alternatives .swiper .swiper-wrapper {
    height: 95%;
}

.alternatives .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden !important;
}

.alternatives .swiper-slide:hover {
    .card-image img {
        transform: scale(1.3) rotate(5deg) translateY(-8%);
    }

    .hover-btn {
        visibility: visible;
        z-index: 15;
        top: 45%;
        opacity: 1;
    }
}

.alternatives #shirt-alternate:hover {
    .card-image img {
        transform: scale(2) rotate(5deg) translateY(-8%);
    }

    .hover-btn {
        visibility: visible;
        z-index: 15;
        top: 45%;
        opacity: 1;
    }
}

.alternatives #jeans-alternate:hover {
    .card-image img {
        transform: scale(2.2) rotate(5deg) translateY(-8%);
    }

    .hover-btn {
        visibility: visible;
        z-index: 15;
        top: 45%;
        opacity: 1;
    }
}

.alternatives .swiper-slide .card-image {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

.alternatives .swiper-slide .card-image figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alternatives .swiper-slide .card-image figure img {
    display: block;
    height: 100% !important;
    transition: all 0.5s ease !important;
}

.alternatives #shirt-alternate .card-image figure img {
    transform: scale(1.5) translateY(-13%);
    transition: all 0.5s ease !important;
}

.alternatives #jeans-alternate .card-image figure img {
    transform: scale(1.8) translateY(-13%);
    transition: all 0.5s ease !important;
}

.alternatives .swiper-slide .card-content {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px 0;
}

.alternatives .swiper-slide .card-content h3 {
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.alternatives .swiper-slide .card-content p {
    font-size: 16px;
    padding-bottom: 5px;
}

.alternatives .swiper-slide .card-content .rating {
    padding: 0 !important;
}


.alternatives .swiper-slide .hover-btn {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.alternatives .swiper-slide .hover-btn .btn-cart {
    width: 90%;
    height: 60px;
    margin-bottom: 10px;
}

.alternatives .swiper-slide .hover-btn .btn-buy {
    width: 90%;
    height: 60px;
    background-color: black;
    color: white;
    border: none;
}

.alternatives .swiper-pagination-bullet {
    background-color: black;
}

/* ======================= footer ========================== */

footer {
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../IMG/footer-bg.webp) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ====================== footer-top ========================= */

.footer-top {
    width: 100%;
    height: 700px;
    background-color: transparent;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-top .container .row .logo {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer-top .container .row .logo img {
    width: 100%;
    filter: brightness(2);
}

.footer-top .container .row .footer-menu {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top .container .row .footer-menu .footer-sub-menu {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 4% 0;
}

.footer-top .container .row .footer-menu .footer-sub-menu .head {
    font-size: 18px;
    color: white;
    padding-bottom: 40px;
    line-height: 2;
    font-weight: 700;
}

.footer-top .container .row .footer-menu .footer-sub-menu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top .container .row .footer-menu .footer-sub-menu ul li {
    padding-bottom: 20px;
}

.footer-top .container .row .footer-menu .footer-sub-menu ul li a {
    color: white;
    font-weight: normal;
}

.footer-top .container .row .footer-menu .footer-sub-menu ul li a:hover {
    font-size: 18px;
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top .container .row .footer-menu-end {
    width: 25%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top .container .row .footer-menu-end .social-menu {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top .container .row .footer-menu-end .social-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top .container .row .footer-menu-end .social-menu ul li a {
    font-size: 28px;
    color: white;
}

.footer-top .container .row .footer-menu-end .social-menu ul li a:hover {
    font-size: 24px;
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px red, 0 0 8px rgb(139, 0, 72);
}

.footer-top .container .row .footer-menu-end .review-data {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top .container .row .footer-menu-end .review-data .footer-rating {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top .container .row .footer-menu-end .review-data .footer-rating p {
    font-size: 24px;
    color: white;
}

.footer-top .container .row .footer-menu-end .review-data .footer-rating .rating {
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.footer-top .container .row .footer-menu-end .review-data .footer-rating .rating i {
    margin: 0 !important;
    padding: 1px;
}

.footer-top .container .row .footer-menu-end .review-data p {
    font-size: 18px;
    color: white;
}

/* ======================= footer-bottom ======================== */

.footer-bottom {
    background-color: transparent;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-bottom .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid white;
}

.footer-bottom .container .row ul {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom .container .row ul li a {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
}

.footer-bottom .container .row ul li a:hover {
    color: red;
}

.footer-bottom .container .row p {
    height: 50%;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
